<div class="hero-unit">
	<h1>Welcome to Sample</h1>
	<p>
		Test application
		<%= link_to "test", "http://www.RogerMiranda.com" %>

	</p>
	<p>
		<%=	link_to "Sign up now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>